[tool.poetry]
name = "[[ _folder_name | replace("_", "-")]]"
version = "0.1.0"
description = "[[ project_description ]]"
authors = ["Nicolas Schmitt <info@nicolaswebdev.com>"]

[tool.poetry.dependencies]
python = "^3.10"

[tool.poetry.dev-dependencies]

[tool.poetry.scripts]
start = "src.[[ _folder_name ]].cli:entry_point"

[tool.taskipy.tasks]
test = "pytest"
watch = "ptw --onfail 'notify-send --icon=/usr/share/icons/Adwaita41/256x256/legacy/face-angry.png \" \"' --onpass 'notify-send --icon=/usr/share/icons/Adwaita41/256x256/legacy/face-cool.png \" \"'"
fix = "echo Running fixers... && autoimport **/*.py && isort . && black ."
lint = "echo Running linters... && prospector --no-external-config --messages-only && vulture"

[tool.pytest.ini_options]
addopts = "--workers auto"

[tool.isort]
profile = "black"
skip_gitignore = true

[tool.vulture]
exclude = ["tests/"]
paths = ["."]

[build-system]
requires = ["setuptools", "poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
