from unittest.mock import patch
from click.testing import CliRunner
from src.[[ _folder_name ]].cli import cli


@patch(
    "src.[[ _folder_name ]].cli.main",
)
def test_cli(mock_function):
    assert CliRunner().invoke(cli).exit_code == 0
    mock_function.assert_called_with()
