from unittest.mock import patch
from click.testing import CliRunner
from src.[[ _folder_name ]].cli import cli


def describe_cli():
    @patch(
        "src.[[ _folder_name ]].cli.main",
    )
    def it_runs_successfully(mock_function):
        assert CliRunner().invoke(cli).exit_code == 0
        mock_function.assert_called_with()
        assert False
